<ion-view title="Add Friend">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Input Cellphone/Email/Account">
            </label>
        </form>
        <button id="addFriend-button12" class="button button-positive  button-block">Search</button>
        <form class="list"></form>
        <a ui-sref="tabsController.cellphoneContact" id="addFriend-button14" class="button button-dark button-small button-block button-clear">Add friend from your cellphone</a>
    </ion-content>
</ion-view>