<ion-view title="Edit your infos">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="User Name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Age">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Cellphone">
            </label>
        </form>
        <button id="editYourInfos-button21" class="button button-positive  button-block">Edit</button>
    </ion-content>
</ion-view>