<ion-view title="File">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/gWFiLLaQmCbjH6bo6HcD_ben.png">
                <h2>Peter</h2>
                <p>Life is beautiful</p>
            </ion-item>
        </ion-list>
        <a ui-sref="tabsController.fileManager" id="file-button9" class="button button-dark button-small button-block button-outline icon ion-android-upload">Upload</a>
        <div class="button-bar">
            <a ui-sref="tabsController.camera" id="file-button19" class="button button-stable  button-block icon ion-camera"></a>
            <a ui-sref="tabsController.addFolder" id="file-button7" class="button button-stable  button-block icon ion-android-folder"></a>
            <a ui-sref="tabsController.searchYourImage" id="file-button8" class="button button-stable  button-block icon ion-android-search"></a>
        </div>
        <ion-list>
            <ion-item>1.jpg</ion-item>
            <ion-item>2.jpg</ion-item>
            <ion-item>3.jpg</ion-item>
            <ion-item>1.png</ion-item>
            <ion-item>2.png</ion-item>
            <ion-item>3.png</ion-item>
            <ion-item>4.png</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
