<ion-view title="File Manager">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <button id="fileManager-button25" class="button button-stable  button-block icon-left ion-ios-folder">Images</button>
        <button id="fileManager-button26" class="button button-stable  button-block icon-left ion-ios-folder">Video</button>
        <button id="fileManager-button27" class="button button-stable  button-block icon-left ion-ios-folder">Audio</button>
        <button id="fileManager-button28" class="button button-stable  button-block icon-left ion-document-text">second.txt</button>
        <button id="fileManager-button29" class="button button-stable  button-block icon-left ion-document-text">first.xls</button>
    </ion-content>
</ion-view>
