<ion-view title="Files">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/gWFiLLaQmCbjH6bo6HcD_ben.png">
                <h2>Peter</h2>
                <p>Life is beautiful</p>
            </ion-item>
        </ion-list>
        <a ui-sref="tabsController.fileManager" id="files-button9" class="button button-dark button-small button-block button-outline icon ion-android-upload">Upload</a>
        <div class="button-bar">
            <a ui-sref="tabsController.camera" id="files-button19" class="button button-stable  button-block icon ion-camera"></a>
            <a ui-sref="tabsController.addFolder" id="files-button7" class="button button-stable  button-block icon ion-android-folder"></a>
            <a ui-sref="tabsController.searchYourImage" id="files-button8" class="button button-stable  button-block icon ion-android-search"></a>
        </div>
        <ion-list>
          <ion-item class="item-icon-left" href="#">
            <i class="icon ion-image"></i> image-12-03-2016.jpg
            <span class="badge badge-assertive">shared</span>
          </ion-item>
          <ion-item class="item-icon-left" href="#">
            <i class="icon ion-image"></i> image-11-03-2016.jpg
            <span class="badge badge-balanced">own</span>
          </ion-item>
          <ion-item class="item-icon-left" href="#">
            <i class="icon ion-image"></i> image-10-03-2016.jpg
            <span class="badge badge-assertive">shared</span>
          </ion-item>
          <ion-item class="item-icon-left" href="#">
            <i class="icon ion-image"></i> image-01-03-2016.jpg
            <span class="badge badge-balanced">own</span>
          </ion-item>
          <ion-item class="item-icon-left" href="#">
            <i class="icon ion-image"></i> image-15-02-2016.jpg
            <span class="badge badge-balanced">own</span>
          </ion-item>
          <ion-item class="item-icon-left" href="#">
            <i class="icon ion-image"></i> image-14-01-2016.jpg
            <span class="badge badge-assertive">shared</span>
          </ion-item>
          <ion-item class="item-icon-left" href="#">
            <i class="icon ion-image"></i> image-01-09-2015.jpg
            <span class="badge badge-assertive">shared</span>
          </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
