<ion-view title="Friends">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <a ui-sref="tabsController.addFriend" id="friends-button11" class="button button-positive button-small button-block button-clear">Add Friends</a>
        </div>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/HGbdJPWT3KMGF4fzOXgH_mike.png">
                <h2>Markus</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/qNnLwHXqSaO1WA8w6uvZ_adam.jpg">
                <h2>Timo</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/YYzeBt3TVaNHKmLhoTvb_perry.png">
                <h2>Alex</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>