<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <div class="spacer" style="height: 100px;"></div>
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="email" placeholder="example@e-mail.com">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="tabsController.files" id="login-button30" class="button button-positive  button-block">Login</a>
            <a ui-sref="tabsController.newAccount" id="login-button5" class="button button-stable  button-block">Sign Up</a>
        </form>
    </ion-content>
</ion-view>