<ion-view title="Share">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/7ifMowQxSaioK5erBM4c_ben.png">
                <h2>Peter(Me)</h2>
                <p>Life is beautiful</p>
            </ion-item>
        </ion-list>
        <div class="button-bar">
            <a ui-sref="tabsController.addFriend" id="share-button15" class="button button-stable  button-block icon ion-android-person-add"></a>
            <a ui-sref="tabsController.friends" id="share-button16" class="button button-stable  button-block icon ion-android-people"></a>
        </div>
        <a ui-sref="tabsController.files" id="share-button17" class="button button-positive  button-block button-outline icon ion-folder"> select file to share</a>
        <div class="spacer" style="width: 284.545px; height: 62px;"></div>
        <div>
            <p>ToDo : App's
                <strong>Highlight</strong> is image will be
                <strong>realtime editing</strong>with shared friend</p>
        </div>
    </ion-content>
</ion-view>
