<ion-view title="User Info">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list></ion-list>
        <ion-list></ion-list>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/Iz28QuQRtSKnpEaxF3Uh_ben.png">
                <h2>Peter(Me)</h2>
                <p>Life is beautiful</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 33px;"></div>
        <a ui-sref="tabsController.editYourInfos" id="userInfo-button10" class="button button-stable  button-block icon ion-android-person">Personal Infos</a>
        <a ui-sref="tabsController.settingPage" id="userInfo-button13" class="button button-stable  button-block icon ion-android-settings">Setting</a>
      <div class="list">
        <a class="item item-icon-left" href="#">
          <i class="icon ion-email"></i>
          Check mail
        </a>

        <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-chatbubble-working"></i>
          Call Me
          <i class="icon ion-ios-telephone-outline"></i>
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-mic-a"></i>
          Record album
    <span class="item-note">
      Grammy
    </span>
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-person-stalker"></i>
          Friends
          <span class="badge badge-assertive">66</span>
        </a>
        <a class="item item-icon-left" href="#">
          <i class="icon ion-music-note"></i>
          Music
        </a>
        <a class="item item-icon-left" href="#">
          <i class="icon ion-ios-game-controller-b"></i>
          Games
          <span class="item-note">
              Super Mario
          </span>
        </a>

      </div>
        <div class="spacer" style="width: 284.545px; height: 20px;"></div>
        <a ui-sref="tabsController.newAccount" id="userInfo-button22" class="button button-assertive  button-block">Logout</a>
    </ion-content>
</ion-view>
